
body{        
        padding-top: 200px;
        padding-bottom: 100px;
    }

.container{
        width: 80%;
        margin: 0 auto;
    }
#image:hover {
        transition: 1s;
        transform: rotate(360deg);
      }     
header, footer {
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
        text-align: center;
        z-index : 1;
    }
   
header{
        top: 50px;
        vertical-align: middle;
    }
footer{
        bottom: 0;
    }   

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: light-blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }
