    .container{
        width: 80%;
        margin: 0 auto;
    }
    .header, .footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .header{
        top: 0;
    }
    .footer{
        bottom: 0;
    }   